{% extends 'base.html' %}
{% load static %}
{% block title %}  {% endblock %}

{% block content %}
    <img src="{{ myuser.img.url }}" height="200px" width="300px">
    <p>Username: <strong>{{ myuser.username }}</strong></p>
    <p>First name: {{ myuser.first_name }}</p>
    <p>Last name: {{ myuser.last_name }}</p>
    <p>Phone number: {{ myuser.phone }}</p>
    <p>Birthday: {{ myuser.birth_day }}</p>
    <a class="btn btn-success" href="{% url 'user_edit' user.pk %}"><i class="fa-solid fa-pen"></i> Edit Profile</a>
{% endblock %}
